

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url(/css/HANGED\ LETTERS.TTF);


/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #01ffff;
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

 

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #00e1ff;
}

.theme_bg {
     background: #00f0ac;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: rgb(0, 0, 0);
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 200%;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     margin-right: 3px;
     margin-left: 20px;
     color:rgb(0, 0, 0);
     font-size: 22px;
     border:3px solid transparent;
     border-radius:20px;
     background-blend-mode: screen;
     background-image:linear-gradient(#1b1b1b,#1b1b1b),radial-gradient(circle at top left,#00fff2,#ff004c);
     background-origin:border-box;
     background-clip:content-box,border-box;
     line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #00ffd5;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #000000;
}
.ytigfb{
     margin-left: auto;
    display: flex;
    background:radial-gradient(circle at top left,#fdec53,#00ff80);
    width: 20%;
    border-radius: 20px;
    cursor: pointer;

}
.ytigfb1{
    color: #00ff80;
    width: 100%;
    padding-left: 100px;
    
}




/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     background: #0c0f38;
     background-image:url(/images/header01.jpg);
     background-size: 100%;
     width: 100%;
     padding: 40px 40px 40px 40px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: rgb(0, 0, 0);
     line-height: 40px;
    
}

.banner_main {
     background: linear-gradient(rgb(0, 17, 54),#d30035);
     background-size: contain;
     background-repeat: no-repeat;
    
}
.sawanban1{
     border-radius: 10%;
}

.text-bg h1 {
     color: #fff;
     font-size: 60px;
     line-height: 50px;
     padding-bottom: 25px;
     font-weight: bold; 
}

.text-bg span {
     color: #dfb200;
     font-size: 40px;
     line-height: 20px;
     font-weight: bold;
}
.p11{
     font-size: larger;
     margin-top: 30px;
     font-variant: small-caps;
}


.text-bg a{
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
}
.greet{
     padding: 10px ;
}

.text-bg a:hover {
     background-color: #000;
     color: #fff;
}


.text-img figure img {
     width: 100%;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #fbff00;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}




/** Hosting section **/

.hosting {
     padding-top: 90px;
}

.web_hosting {
     text-align: center;
}

.web_hosting figure {
     margin: 0;
}

.web_hosting p {
     color: #0c0f38;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 50px;
}

.web_hosting a {
     font-size: 16px;
     background-color: #000;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 400;
     margin-top: 10px;
}

.web_hosting a:hover {
     background-color: #0c0f38;
     color: #fff;
}


/** end Hosting section **/
.slide20{
     width: 100%;
     height:760px;
     margin-top: 70px;
}


/** Services section **/

.Services {
     padding: 60px 0;
     background-image:radial-gradient(circle at top left,#00393b,#53001c);
     font-family: Poppins;
}

.Services .titlepage {
     text-align: center;
}

.Services .titlepage h2 {
     color: #fff;
     padding-bottom: 20px;
}

.Services .titlepage p {
     color: #fff;
}

.Services .Services-box i {
     background: #fff;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     display: inline-block;
     padding-top: 19px;
}

.Services .Services-box i:hover {
     background: #ddd;
}

.Services .Services-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #fff;
     display: block;
     font-weight: 500;
}

.Services .Services-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     border: #cecfd7 solid 2px;
     padding: 40px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
}

.Services .Services-box:hover {
     background: #8308eb;
     transition: ease-in all 0.5s;
     cursor: pointer;
}

.Services .Services-box p {
     font-size: 16px;
     line-height: 24px;
     color: #fff;
}

.read_more {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.read_more:hover {
     background: #8308eb;
     color: #fff;
}


/** end Services section **/


/** why section **/

.why {
     background: linear-gradient(#75001d,#004c4e);
     font-family: Poppins;
}

.why .titlepage {
     text-align: center;
}

.why .titlepage h2 {
     padding-bottom: 20px;
}

.why .titlepage p {
     color: #f7f7f7;
}

.why .why-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: rgb(251, 255, 0);
     display: block;
     font-weight: 500;
}

.why .why-box {
     text-align: center;
     background-image: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: rgb(255, 255, 255) 0px 0px 15px;
}

.why .why-box p {
     font-family:sans-serif ;
     font-size: 16px;
     font-variant: small-caps;
     line-height: 24px;
     color: #ffffff;
}

.why .why-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}
.cot{
     border-radius: 20px;
     box-shadow: rgb(0, 255, 213) 0px 0px 15px;
}

.bg {
     font-size: 16px;
     background-color:rgb(0, 255, 136);
     border-radius:20px;
     color: rgb(0, 0, 0);
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #034e5c;
     color: #fff;
}
.slashed{
     padding: 200px 0px 0px 0px;
     margin-top: -10px;
}
.slashed .top,
.slashed .bot {
  text-align: center;
  font: 62px/100px arial;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  color: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.slashed .top:before,
.slashed .bot:before {
  content: attr(title);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.slashed .top {
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 50%;
}
.slashed .top:before {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
}
.slashed .bot {
  position: absolute;
  top: 50%;
  left: 0;
  right: 5px;
  bottom: 0;
}
.slashed .bot:before {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}
/** end why section **/


/** contact section **/

.contact {
     width: 100%;
     height: 1180px;
    
}

.main_form {
     background:linear-gradient(rgb(77, 0, 0),rgb(0, 78, 83));
     padding: 55px 55px;
     border-radius: 30px;
     margin-bottom: -58%;
}

.contact .main_form .contactus {
     border: linear-gradient(rgb(0, 53, 54),rgb(0, 238, 255)) solid 2px;
     padding: 0px 19px;
     margin-bottom: 20px;
     border-radius: 15px;
     width: 100%;
     height: 52px;
     background: rgb(255, 255, 255);
     color: #999999;
     font-size: 16px;
}

.contact .main_form .textarea {
     margin-bottom: 25px;
     padding: 0px 19px;
     color: #000000 !important;
     width: 100%;
     border: #fff solid 1px;
     border-radius: 15px;
     padding-top: 38px;
     background: #fff;
}

.contact .main_form .send {
     font-size: 16px;
     transition: ease-in all 0.5s;
     background-color: rgb(255, 255, 255);
     color: #ef4259;
     padding: 12px 70px;
     margin: 0 auto;
     display: block;
     border-radius: 30px;
}

.contact .main_form .send:hover {
     background-color: #8308eb;
     transition: ease-in all 0.5s;
     color: rgb(248, 248, 248);
}

#contact *::placeholder {
     color: #d82b2b;
     opacity: 1;
}

.current {
     color: #fff;
     margin-top: -4px;
     position: absolute;
}


/** end contact section **/


/** footer **/

.footer {
     font-family: Poppins;
     background: #0c0f38;
}

.cont {
     text-align: center;
}

.cont h3 {
     color: rgb(255, 250, 250);
     font-size: 45px;
     line-height: 30px;
     font-weight: bold;
     padding: 30px 0px 0px 0px;
}

.cont span {
     color: rgb(253, 251, 251);
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 30px 0px;
     display: inline-block;
     font-weight: bold;
}

.cont p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     padding: 0 130px;
     padding-bottom: 60px;
}

.copyright {
     padding: 20px 0px;
     background: #fffc68;
}

.copyright p {
     color: #1e1e1e;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #1e1e1e;
}

.copyright a:hover {
     color: #000000;
}


/** end footer **/
@media screen and (max-width: 700px) {

}

.meop-item,
.meop-open-button {
   background:#eeeeee;
   border-radius: 100%;
   width: 60px;
   height: 60px;
   
   position: absolute;
   color: white;
   text-align: center;
   line-height: 80px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}


.meop-open{
     display: none;
}
.meopl {
   position:absolute;
   width: 80px;
   height: 80px;
   text-align: center;
   box-sizing: border-box;
   font-size: 26px;
}

.lines {
   width: 25px;
   height: 3px;
   background: #085ec7;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
}

.meop-open:checked + .meop-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.meop-open:checked + .meop-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.meop-open:checked + .meop-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
}
.meopl{
     padding-left: 46%;

}



/* .meop-item {
   transition: all 0.1s ease 0s;
} */

.meop-item:hover {
   background: #bba3a3;
   color: #3290B1;
}

.meop-item:nth-child(3) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.meop-item:nth-child(4) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.meop-item:nth-child(5) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.meop-item:nth-child(6) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.meop-item:nth-child(7) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.meop-item:nth-child(8) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.meop-item:nth-child(9) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.meop-open-button {
   z-index: 2;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.meop-open-button:hover {
   -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.meop-open:checked + .meop-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.meop-open:checked ~ .meop-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.meop-open:checked ~ .meop-item:nth-child(3) {
   transition-duration: 180ms;
   -webkit-transition-duration: 180ms;
   -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
   transform: translate3d(0.08361px, -104.99997px, 0);
}

.meop-open:checked ~ .meop-item:nth-child(4) {
   transition-duration: 280ms;
   -webkit-transition-duration: 280ms;
   -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
   transform: translate3d(90.9466px, -52.47586px, 0);
}

.meop-open:checked ~ .meop-item:nth-child(5) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
   transform: translate3d(90.9466px, 52.47586px, 0);
}

.meop-open:checked ~ .meop-item:nth-child(6) {
   transition-duration: 480ms;
   -webkit-transition-duration: 480ms;
   -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
   transform: translate3d(0.08361px, 104.99997px, 0);
}

.meop-open:checked ~ .meop-item:nth-child(7) {
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;
   -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
   transform: translate3d(-90.86291px, 52.62064px, 0);
}

.meop-open:checked ~ .meop-item:nth-child(8) {
   transition-duration: 680ms;
   -webkit-transition-duration: 680ms;
   -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
   transform: translate3d(-91.03006px, -52.33095px, 0);
}

.meop-open:checked ~ .meop-item:nth-child(9) {
   transition-duration: 780ms;
   -webkit-transition-duration: 780ms;
   -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
   transform: translate3d(-0.25084px, -104.9997px, 0);
}
.meop-open:checked ~ .meop-item:nth-child(10) {
   transition-duration: 880ms;
   -webkit-transition-duration: 880ms;
   -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
   transform: translate3d(-0.25084px, -104.9997px, 0);
}

.blue {
   background-color: #669AE1;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.homenav{
     width: 100%;
     margin-bottom: 28px;
     border-radius: 100%;
}

.blue:hover {
   color: #5897f0;
   text-shadow: none;
}

.green {
   background-color: #70CC72;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
   color: #70CC72;
   text-shadow: none;
}

.red {
   background-color: #FE4365;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
   color: #FE4365;
   text-shadow: none;
}

.purple {
   background-color: #C49CDE;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
   color: #C49CDE;
   text-shadow: none;
}

.orange {
   background-color: #FC913A;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
   color: #FC913A;
   text-shadow: none;
}

.lightblue {
   background-color: #62C2E4;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
   color: #62C2E4;
   text-shadow: none;
}
  
.credit {
   margin: 24px 20px 120px 0;
   text-align: right;
   color: #EEEEEE;
}

.credit a {
   padding: 8px 0;
   color: #C49CDE;
   text-decoration: none;
   transition: all 0.3s ease 0s;
}

.credit a:hover {
   text-decoration: underline;
}
  .tupoh{
  height: 160px;
  width:500px;
  padding-top: 90px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  line-height: 40px;
 
  }
   .tupoh__container {
     font-weight: 600;
     overflow: hidden;
     height: 40px;
     width:500px;
     font-weight: 200;
   }
   .tupoh__container:before {
     content: "";
     left: 0;
   }
   .tupoh__container:after {
     content: "";
     position: absolute;
     right: 0;
   }
   .tupoh__container:after, .tupoh__container:before {
     position: absolute;
     top: 0;
     color: rgb(0, 255, 213);
     font-size: 42px;
     line-height: 40px;
     -webkit-animation-name: opacity;
     -webkit-animation-duration: 2s;
     -webkit-animation-iteration-count: infinite;
     animation-name: opacity;
     animation-duration: 2s;
     animation-iteration-count: infinite;
   }
   .tupoh__container__text {
     display: inline;
     float: left;
     margin: 0;
   }
   .tupoh__container__list {
     padding-left: 110px;
     text-align: left;
     list-style: none;
     -webkit-animation-name: change;
     -webkit-animation-duration: 10s;
     -webkit-animation-iteration-count: infinite;
     animation-name: change;
     animation-duration: 10s;
     animation-iteration-count: infinite;
   }
   .ul .tupoh__container__list{
        padding-right: 0%;
   }
   .tupoh__container__list__item {
     line-height: 40px;
     margin: 0;
     font-size: 35px;
     
   }
   
   @-webkit-keyframes opacity {
     0%, 100% {
       opacity: 0;
     }
     50% {
       opacity: 1;
     }
   }
   @-webkit-keyframes change {
     0%, 12.66%, 100% {
       transform: translate3d(0, 0, 0);
     }
     16.66%, 29.32% {
       transform: translate3d(0, -25%, 0);
     }
     33.32%, 45.98% {
       transform: translate3d(0, -50%, 0);
     }
     49.98%, 62.64% {
       transform: translate3d(0, -75%, 0);
     }
     66.64%, 79.3% {
       transform: translate3d(0, -50%, 0);
     }
     83.3%, 95.96% {
       transform: translate3d(0, -25%, 0);
     }
   }
   @keyframes opacity {
     0%, 100% {
       opacity: 0;
     }
     50% {
       opacity: 1;
     }
   }
   @keyframes change {
     0%, 12.66%, 100% {
       transform: translate3d(0, 0, 0);
     }
     16.66%, 29.32% {
       transform: translate3d(0, -25%, 0);
     }
     33.32%, 45.98% {
       transform: translate3d(0, -50%, 0);
     }
     49.98%, 62.64% {
       transform: translate3d(0, -75%, 0);
     }
     66.64%, 79.3% {
       transform: translate3d(0, -50%, 0);
     }
     83.3%, 95.96% {
       transform: translate3d(0, -25%, 0);
     }
   }
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: linear-gradient(rgb(255, 0, 0),rgb(255, 230, 0),rgb(0, 245, 53),rgb(0, 60, 255),rgb(255, 0, 191));
}
@media (-ms-high-contrast:active) {
  ::-webkit-scrollbar-thumb {
    background: ButtonText;
    forced-color-adjust: none;
  }
}
::-webkit-scrollbar-thumb:hover {
  background: #9F9F9F;
}
@media (-ms-high-contrast:active) {
  ::-webkit-scrollbar-thumb:hover {
    background: Highlight;
    forced-color-adjust: none;
  }
}
::-webkit-scrollbar-thumb:active {
  background: #929292;
}
@media (-ms-high-contrast:active) {
  ::-webkit-scrollbar-thumb:active {
    background: Highlight;
    forced-color-adjust: none;
  }
}
::-webkit-scrollbar-corner {
  background: none;
}
.post{
     width:100%;
     background:fixed;
	background-image: url(/images/bgu.jpg) ;
     background-repeat: repeat;
     background-size: contain;
	display:flex;
	justify-content: center;
	align-items: center;
}
.pic{
     width:350px ;
	height:auto ;
	background:fixed;
	border-radius: 10px;
     box-shadow: #0c0c0c 0px 0px 20px;
     backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
     margin: 20px 10px;
     align-items: center;
}
.pic:hover {
     transition: ease-in all 0.1s;
     background:rgb(70, 70, 70) ;
     color: white;
} 


.prif{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
	align-items: center;
     margin: 20px 10px;
}
.bhia{
     border-radius: 5%;
     height:320px;
}
.bhiapro{
     height:content;
     border-radius: 5%;
}
.descript{
     text-align: center;
     color: #000000;
     font-weight: bold;
     font-variant: small-caps;
     word-wrap: wrap;
}
.bhiasqu{
     border-radius: 6%;
}
.dpadmin {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   align-items: center;
   margin: 0px 0px 10px 0px;  
}
.dp{
    border: rgb(252, 62, 62) 3px;
    border-style:solid ;
    width: 50px;
    border-radius: 50%; 
}
.dpu{
font-size: 15px;
font-family:cursive ;
font-weight: 600;
}
.templ{
    height: fit-content;	 
     background:fixed;
  	border-radius: 10px;
    box-shadow: #0c0c0c 0px 0px 20px;
    backdrop-filter: blur(5px);
   	display: flex;
  	flex-direction: column;
  	box-sizing: border-box;
    margin: 20px 10px;
    align-items: center;
    overflow: hidden;
  }
  .admina{
    width: 20%;
    border-radius:50%;
  }
  .divider {
  background-color: #000000;
  height: 3px;
  width: 160px;
}
.templ h1{
  color: #000000;
  font-variant: small-caps;
  margin-top:0px;
  font-size:xx-large;
  font-family:serif;
}
.templ p{
  padding-left: 20%;
  padding-right: 20%;
  word-wrap: break-word;
}
.templ :nth-child(1){
    filter: hue-rotate(0deg);
}
.templ:nth-child(2){
    filter: hue-rotate(110deg);
}
.templ span{
    position: absolute;
    display: block;
}
.templ span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,transparent,#000000);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.templ span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height:100%;
    background: linear-gradient(180deg,transparent,#000000);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.templ span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg,transparent,#000000);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.templ span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#000000);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
